# Exercises Part I

## Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

## Use pandas to create a Series named fruits from the following list:

In [1]:
#import standard for pandas
import pandas as pd
import numpy as np
from pydataset import data

In [2]:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [3]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", 
 "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

pd.Series(fruits)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [4]:
# assigned variable
fruit = pd.Series(fruits)

## Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

In [5]:
fruit.count

<bound method Series.count of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

2. Output only the index from fruits.

In [6]:
fruit.index

RangeIndex(start=0, stop=17, step=1)

3. Output only the values from fruits.

In [7]:
fruit.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [8]:
fruit.dtypes

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [9]:
fruit.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [10]:
fruit.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [11]:
fruit.sample(2)

5     honeycrisp apple
12               mango
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [12]:
fruit.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [13]:
fruit.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8. Determine how many times each unique string value occurs in fruits.

In [14]:
fruit.nunique()

# Counting occurences as well as missing values:
# pd.Series(fruits).value_counts(dropna=False)

13

9. Determine the string value that occurs most frequently in fruits.

In [15]:
fruit.value_counts().nlargest(1)

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [16]:
fruit.value_counts().nsmallest(11)

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [17]:
list_fruit = fruit.value_counts() # theo's implementation
list_fruit.head(1)

kiwi    4
dtype: int64

In [18]:
list_fruit[list_fruit <= 1] # theo's implementation

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# Exercises part II

## Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits.

In [19]:
# used str.capitalize() method to take the value attributes and capitalize
capitalized_fruits = fruit.str.capitalize()
capitalized_fruits

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [20]:
# used str.count(string).sum() methods to count and sum applied by vectorization
count_a = fruit.str.count('a').sum()
count_a

14

3. Output the number of vowels in each and every string value.

In [21]:
# used str.lower().str.count(string) methods with vowels in the string argument to output the number of vowels
vowels_count = fruit.str.lower().str.count('[aeiou]')
vowels_count

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

4. Write the code to get the longest string value from fruits.

In [22]:
#DataFrame.idxmax(axis=0, skipna=True, numeric_only=False)
    # Return index of first occurrence of maximum over requested axis.
"""
- reference: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

"""

# used a varible to assign to the series and return with the series' longest string value using the following methods as mask
# series.str.len().idxmax()
longest_fruit = fruit[fruit.str.len().idxmax()]
longest_fruit

'honeycrisp apple'

5. Write the code to get the string values with 5 or more letters in the name.

In [23]:
# Assigned variable to the series and used the methods below to mask and return the requirement.
# series.str.len(), and an operations to set boundary using the comparison bit-wise operator.
five_or_more_letters = fruit[fruit.str.len() >= 5]
five_or_more_letters

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6. Find the fruit(s) containing the letter "o" two or more times.

In [24]:
# used str.count('string') methods then a bit wise comparison operator to set condition upon return
contains_two_o = fruit[fruit.str.count('o') >= 2]
contains_two_o

6         tomato
15    gooseberry
dtype: object

7. Write the code to get only the string values containing the substring "berry".

In [25]:
#  used the str.contains methods to return values with berry in them.
contains_berry = fruit[fruit.str.contains('berry')]
contains_berry

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

8. Write the code to get only the string values containing the substring "apple".

In [26]:
# appled the same methods to return apple in values
contains_apple = fruit[fruit.str.contains('apple')]
contains_apple

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

9. Which string value contains the most vowels?

In [27]:
# used idxmax() from earlier reference to apply to the vowels_count variable for the mask to return the value
most_vowels_fruit = fruit[vowels_count.idxmax()]
most_vowels_fruit

'honeycrisp apple'

# Exercises Part III

## Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.

In [28]:
# used given_string to assign to list of strings.
given_string = 'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
# assigned letters_lits to list function on the list of strings
letters_list = list(given_string)
# itemized strings from list onto column listed values for each letter in list
letters = pd.Series(letters_list)
# name assigend for series; should return a list with a index for each character
letters

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

Which letter occurs the most frequently in the letters Series?

In [46]:
letters_count = letters.value_counts().max()

letters_count

13

Which letter occurs the Least frequently?

How many vowels are in the Series?

How many consonants are in the Series?

Create a Series that has all of the same letters but uppercased.

Create a bar plot of the frequencies of the 6 most commonly occuring letters.