# Exercises Part I

## Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

## Use pandas to create a Series named fruits from the following list:

In [1]:
#import standard for pandas
import pandas as pd
import numpy as np
from pydataset import data

In [2]:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [3]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", 
 "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

pd.Series(fruits)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [4]:
# assign variable
fruit = pd.Series(fruits)

## Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

In [5]:
fruit.count

<bound method Series.count of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

2. Output only the index from fruits.

In [6]:
fruit.index

RangeIndex(start=0, stop=17, step=1)

3. Output only the values from fruits.

In [7]:
fruit.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [8]:
fruit.dtypes

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [9]:
fruit.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [10]:
fruit.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [11]:
fruit.sample(2)

6     tomato
12     mango
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [12]:
fruit.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [13]:
fruit.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8. Determine how many times each unique string value occurs in fruits.

In [14]:
fruit.nunique()

# Counting occurences as well as missing values:
# pd.Series(fruits).value_counts(dropna=False)

13

9. Determine the string value that occurs most frequently in fruits.

In [19]:
fruit.value_counts().nlargest(1)

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [16]:
fruit.value_counts().nsmallest(11)

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64